.flex-box {
  display: flex;
  height: 100%;
  align-items: center;
}

.header {
  width: 100%;
  height: 45px;
  justify-content: space-between;
  background-color: #2f364a;
  color: #78829d;
}

.header-a {
  background-color: #2f364a;
  text-decoration: none;
  padding: 0 1em;
}

.header-nav a:last-child {
  display: none;
  margin-bottom: 0;
}

.header-a:link {
  color: #78829d;
}

.header-a:visited {
  color: #78829d;
}

.header-a:hover {
  background-color: #15a4fa;
  color: #fff;
}

.header-a:active {
  color: #78829d;
}

.header-a:first-child {
  margin-left: 0;
}

.header > .header-a:last-child {
  background: #55acee;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-height: 100vh;
  background-color: #eef1f7;
}

.main > div {
  height: 80%;
  min-height: 70vh;
  width: 100%;
  margin: 3% 10%;
  padding: 1% 1%;
  border-radius: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #fff;
}

.questions-block section div {
  display: flex;
  flex-wrap: wrap;
}

.main > div:not(:first-child) {
  display: none;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.result-block main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.questions-block section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px 0;
}

.questions-block section > main {
  margin: 1% 0;
}

.questions-block label:not(:last-of-type)::after {
  content: '|';
  display: inline-block;
  margin: 0 15px;
}

input + label span {
  margin: 5px 5px;
  padding: 5px 5px;
  border-radius: 1em;
}

.score span {
  color: #ffab00;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

input + label span:hover {
  background-color: #52bea6;
  border-radius: 1em;
  color: #f7f7f7;
}

input:checked + label span {
  background-color: #52bea6;
  border-radius: 1em;
  color: #f7f7f7;
}

.player-name-btn {
  width: 30%;
  margin: 1% 0;
  border: solid 1px rgba(140, 151, 178, 0.4);
  border-radius: 15.5px;
  text-align: center;
}

.main button {
  margin: 5px 0;
  width: 30%;
  height: 35px;
  background: #f2795a;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}

.form button {
  width: 100%;
}

.result-block .fa-user-astronaut {
  font-size: 50px;
}

.result-block header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result-block footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 6em;
}

.result-block footer > button {
  margin: 10% 2%;
}

.score {
  display: inline-block;
  font-size: 2.5em;
  color: #eef1f7;
  position: relative;
}

.score::before,
.score span::before {
  content: "\2605\2605\2605\2605\2605";
  display: block;
}

.result-block footer i {
  margin: 0 5%;
}

.header-a > * {
  padding: 0 0.5em;
  color: #fff;
}

.footer {
  width: 100%;
  height: 45px;
  justify-content: flex-end;
  background-color: #2f364a;
}

.footer-a {
  width: 50%;
  text-decoration: none;
  color: #78829d;
  justify-content: center;
}

.footer-nav {
  width: 8%;
}

.footer-a:first-child {
  background: #55acee;
}

.footer-a:last-child {
  background: #3b5998;
}

.footer-a:link {
  color: #fff;
}

.footer-a:visited {
  color: #fff;
}

.footer-a:hover {
  color: #fff;
  opacity: 0.5;
}

.footer-a:active {
  color: #78829d;
}

@media only screen and (max-width: 600px) {
  .header-nav a {
    display: none;
  }

  .header-nav a:last-child {
    display: flex;
  }

  .header.responsive {
    width: 100%;
    justify-content: center;
    height: 100%;
  }

  .header-nav.responsive {
    flex-direction: column;
    width: 100%;
  }

  .header-nav.responsive > a {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 2% 0;
  }

  .header-nav {
    width: 80%;
  }

  .header-a span {
    display: none;
  }

  .main > div {
    height: 90%;
    min-height: 90vh;
    width: 100%;
    margin: 3% 5%;
  }

  .star-quize-qlock > * {
    width: 80%;
    text-align: center;
  }

  .questions-block section {
    text-align: center;
  }

  .questions-block section div {
    margin: 3% auto;
    display: flex;
    flex-direction: column;
  }

  .questions-block section div label {
    margin: 3% auto;
  }

  .questions-block label:not(:last-of-type)::after {
    display: none;
  }

  .main button {
    width: 80%;
  }

  .main form button {
    width: 100%;
  }

  .result-block footer {
    flex-direction: column;
    height: 12em;
  }

  .result-block footer > button {
    margin: 2% 0;
  }

  .footer {
    justify-content: center;
  }

  .footer-nav {
    width: 30%;
  }
}
